@model GSSWEB.ViewModels.BookModel
@{
    ViewBag.Title = "Index";
}

<h2>Search Page</h2>
<form method="post" action="/Library/Index">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <table class="table">
                <tr>
                    <th class="text-left" colspan="2"><h4>Book Maintain</h4></th>
                </tr>
                <tr>
                    <td class="text-right" width="40%"><p>Book Name</p></td>
                    <td class="text-left" width="60%">
                        <input class="form-control" type="text" id="qryBookName" name="book_name" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right" width="40%"><p>Book Class</p></td>
                    <td class="text-left" width="60%">
                        <select class="form-control" id="qryBookClass" name="book_class_name">
                            <option value=""></option>
                            @{
                                if (Model.BookClass.Count() > 0)
                                {
                                    foreach (var item in Model.BookClass)
                                    {
                                        <option value="@item.BOOK_CLASS_NAME">@item.BOOK_CLASS_NAME</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-right" width="40%"><p>Borrower</p></td>
                    <td class="text-left" width="60%">
                        <select class="form-control" id="qryMember" name="user_ename">
                            <option value=""></option>
                            @{
                                if (Model.Members.Count() > 0)
                                {
                                    foreach (var item in Model.Members)
                                    {
                                        <option value="@item.USER_ENAME">@item.USER_CNAME (@item.USER_ENAME)</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-right" width="40%"><p>Borrow Status</p></td>
                    <td class="text-left" width="60%">
                        <select class="form-control" id="qryBookStatus" name="book_status">
                            <option value=""></option>
                            @{
                                if (Model.BookCode.Count() > 0)
                                {
                                    foreach (var item in Model.BookCode)
                                    {
                                        if (item.CODE_TYPE == "BOOK_STATUS")
                                        {
                                            <option value="@item.CODE_NAME">@item.CODE_NAME</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-right" width="40%"></td>
                    <td class="text-left" width="60%">
                        <button class="btn" type="submit" name="submit" value="qry">Search</button>
                        <button class="btn" onclick="clear();">Clean</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2"></div>
    </div>
</form>
<!-- Book data -->
<form method="post" action="/Library/Export" id="frmExport"></form>
<div class="row">
    <div class="col-lg-12">
        <h3 style="display:inline-block;"><a href="/Library/Add">Create</a></h3>
        <button class="btn" style="display:inline-block; float:right;" onclick="exportData()">Export</button>
    </div>
</div>
<div class="row" style="overflow-x:auto; height:500px;">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th>Book Class</th>
                <th width="30%">Book Name</th>
                <th>Bought Date</th>
                <th>Book Status</th>
                <th>Book Keeper</th>
                <th width="20%"></th>
            </tr>
            @{
                if (Model.BookInfo.Count() > 0)
                {
                    foreach (var item in Model.BookInfo)
                    {
                        <tr>
                            <td>@item.book_class_name</td>
                            <td>@item.book_name</td>
                            <td>@Convert.ToDateTime(item.book_bought_date).ToString("yyyy/MM/dd")</td>
                            <td>@item.book_status</td>
                            <td>@item.user_ename</td>
                            <td>
                                <button class="btn" onclick="showPopup('BorrowRecord', {id: '@item.book_id.ToString()'})">Record</button>
                                <button class="btn">Edit</button>
                                <button class="btn">Delete</button>
                            </td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel" style="display:inline-block">Modal title</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display:inline-block">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="myModalBody">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        filterValue();
    })

    function exportData() {
        document.getElementById("frmExport").submit();
    }

    function showPopup(action, data) {
        data = data == undefined ? {} : data;
        $.ajax({
            url: '/Popup/' + action,
            type: 'post',
            data: data,
            success: function (page) {
                $("#myModalLabel").text('').text(action);
                $("#myModalBody").html('').html(page);
                $("#myModal").modal('show');
            }, error: function (e) { console.log(e); }
        })
    }

    function filterValue() {
        let strClass = '@Model.bookData.book_class_name';
        let strName = '@Model.bookData.book_name';
        let strStatus = '@Model.bookData.book_status';
        let strMember = '@Model.bookData.user_ename';

        $("#qryBookName").val(strName);
        $("#qryBookClass").val(strClass);
        $("#qryMember").val(strMember);
        $("#qryBookStatus").val(strStatus);
    }

    function clear() {
        $("#qryBookName").val('');
        $("#qryBookClass").val('');
        $("#qryMember").val('');
        $("#qryBookStatus").val('');
    }

    function qryBookInfo() {
        console.log('start...');
        let param = {
            book_class_name: $("#qryBookClass").val() ? $("#qryBookClass").val() : "",
            book_name: $("#qryBookName").val() ? $("#qryBookName").val() : "",
            user_ename: $("#qryMember").val() ? $("#qryMember").val() : "",
            book_status: $("#qryBookStatus").val() ? $("#qryBookStatus").val() : "",
            book_bought_date: new Date(),
            book_id: 0
        }
        $.ajax({
            type: 'post',
            url: '/Library/IndexQry',
            data: param,
            success: function (response) {
                console.log(response);
            }, error: function (e) { alert('error') }
        })
    }
</script>